// styles

body {
    padding:0px;
    margin:0px;
    background-color: #ffffff;
    h1 {
        font-size:5.5rem;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
    }
    h2 {
        font-size:3rem;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
    }
    h3 {
        font-size:2.5rem;
        letter-spacing:-0.4px;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
    }
    h4 {
        font-size:2rem;
        letter-spacing:-0.4px;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
        margin:0px;
    }
    p {
        font-size:1rem;
        line-height: 24px;
    }
    .pad-top-1rem {
        padding-top:1rem;
    }
    .pad-top-2rem {
        padding-top:2rem;
    }
    .pad-top-3rem {
        padding-top:3rem;
    }
}

.pageStyles{
    color: #232129;
    font-family: "Work Sans", sans-serif;
        .headingStyles{
            margin-top: 0px;
            margin-bottom: 64px;
            max-width: 320px;
            .headingAccentStyles{
                color: #663399;
              }
        }
        .paragraphStyles{
            margin-bottom: 48px;

            .codeStyles{
                color: #8A6534;
                padding: 4px;
                background-color: #FFF4DB;
                font-size: 1.25rem;
                border-radius: 4px;
              }
        }
        .listStyles {
            margin-bottom: 96px;
            padding-left: 0px;
          }
        .listItemStyles {
            font-weight: 300;
            font-size: 24px;
            max-width: 560px;
            margin-bottom: 30px;
            .linkStyle{
                color: #8954A8;
                font-weight: bold;
                font-size: 16px;
                vertical-align: 5%,
            }
        }
  }

  /* --------------- HEADER STYLE -------------- */

  .headerContainer {
      background-color:#000000;
      padding:1rem 0rem;
      .BeSeenBeHeard img{
          display:block;
          margin:auto;
      }
  }

  /* --------------- HERO STYLE -------------- */

  .heroContainer {
    padding:0rem 0rem;
    .BeSeenBeHeard img{
        display:block;
        margin:auto;
    }

    .heroCopyContainer {
        position: absolute;
        .heroCopyBlack {
            background-color: #000000;
        }
        h1 {
            color: #ffffff;
            padding:0rem 1rem;
            margin:0px;
            text-align: center;
        }
        h2 {
            padding-top:5px;
            color: #000000;
            padding:0rem 1rem;
            margin:0px;
            text-align: center;
            line-height: 48px;
        }
    }

    .heroSubCopyContainer {
        background-color: #000000;
        h3 {
            color: #ffffff;
            padding: 1.5rem 0rem 0rem 0rem;
            margin:0px;
            text-align: center;
        }
        p {
            color: #ffffff;
            padding:1rem 5rem 1.5rem 5rem;
            margin:0px;
            text-align: center;
        }
    }
}

 /* --------------- MAIN STYLE -------------- */

 .introContainer {
     .introCopy, h3{
         padding: 0rem 2rem 0rem 2rem;
     }  
     .yellowBoxCont {
         position: relative;
         
         .yellowCopyContainer {
            position: absolute;
            padding-top: 3rem;
            .yellowCopyYellowBox {
                background-color: #d6ce4b;
                padding: 3rem 5rem;
                p {
                    text-align: center;
                }
            }
           
         }
     }
    
 }

 .introImage2 {
    float:right;
}

.pinkBoxContainer{
    .mainPinkBox{
        background-color: #ebbede;
        padding:2rem;
        font-size:1.4rem;
    }
    h4{
        padding:2rem 0rem;
    }
}

.statsContainer {
    h4 {
        padding-left:6rem;
    }
    .mainCopyBlack {
        .firstStat, .secondStat {
            background-color: #000000;
            color:#ffffff;
            text-align: center;
            width: 14rem;
            position: relative;
            margin: 0 auto;
        }

        .thirdStat {
            background-color: #000000;
            color:#ffffff;
            text-align: center;
            width: 20rem;
            position: relative;
            margin: 0 auto;
        }
        p {
            text-align: center;
            font-size:1.4rem;
            font-weight: bold;
        }
    }
}

.introContainer {
    .introCopy, h3{
        padding: 0rem 2rem 0rem 2rem;
    }  
    .ctaBoxCont {
        position: relative;
        
        .ctaCopyContainer {
           position: absolute;
           padding-top: 3rem;
           .ctaCopyWhiteBox {
               background-color: #ffffff;
               padding: 3rem 2.7rem;
               p {
                   text-align: center;
               }
           }
          
        }
    }
   
}

.keyFindingsSection {
    h5 {
        font-size:1.4rem;
        font-weight: bold;
        margin-bottom:0px;
    }
}