// styles

$breakpoint-desktopFixStats: 1050px;
$breakpoint-desktopFix: 1020px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 600px;
$breakpoint-smallMobile: 480px;

body {
    padding:0px;
    margin:0px;
    background-color: #ffffff;
    h1 {
        font-size:5.5rem;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
    }
    h2 {
        font-size:3rem;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
    }
    h3 {
        font-size:2.75rem;
        letter-spacing:-0.4px;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
        margin-bottom:0px;
    }
    h4 {
        font-size:2rem;
        letter-spacing:-0.4px;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
        margin:0px;
    }
    p {
        font-size:1rem;
        line-height: 24px;
    }
    .pad-top-1rem {
        padding-top:1rem;
    }
    .pad-top-2rem {
        padding-top:2rem;
    }
    .pad-top-3rem {
        padding-top:3rem;
    }
    .pad-top-4rem {
        padding-top:4rem;
    }
    .pad-bottom-2rem {
        padding-bottom:2rem;
    }
    .pad-bottom-3rem {
        padding-bottom:3rem;
    }
    .pad-top-none {
        padding-top:0px!important;
    }
    .pad-top-20px {
        padding-top:20px!important;
    }
}

.pageStyles{
    color: #232129;
    font-family: "Work Sans", sans-serif;
        .headingStyles{
            margin-top: 0px;
            margin-bottom: 64px;
            max-width: 320px;
            .headingAccentStyles{
                color: #663399;
              }
        }
        .paragraphStyles{
            margin-bottom: 48px;

            .codeStyles{
                color: #8A6534;
                padding: 4px;
                background-color: #FFF4DB;
                font-size: 1.25rem;
                border-radius: 4px;
              }
        }
        .listStyles {
            margin-bottom: 96px;
            padding-left: 0px;
          }
        .listItemStyles {
            font-weight: 300;
            font-size: 24px;
            max-width: 560px;
            margin-bottom: 30px;
            .linkStyle{
                color: #8954A8;
                font-weight: bold;
                font-size: 16px;
                vertical-align: 5%,
            }
        }
  }

  .hideDesktop {
      display:none!important;
  }
  .hideMobile {
      display:inline-block!important;
  }

  .hideTablet {
    display:inline-block!important;
   }

  @media (max-width: $breakpoint-tablet) {
    .hideTablet {
        display:none!important;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .hideDesktop {
        display:inline-block!important;
    }
    .hideMobile {
        display:none!important;
    }
    h1,h2,h3,h4 {
        text-align: left;
    }
    .remove-pad-top {
        padding-top:0px!important;
    }
  }

  /* --------------- HEADER STYLE -------------- */

  .headerContainer {
      background-color:#000000;
      padding:1rem 0rem;
      .BeSeenBeHeard img{
          display:block;
          margin:auto;
      }
      .buttonCont {
        position: absolute;
        top: 0.5rem;
        right: 2rem;
      }
      .translateButton {
          border-radius: 0px;
          border:1px solid;
          padding: 0.25rem 0.6rem 0.25rem 1.1rem;
      }
  }



  @media (max-width: $breakpoint-mobile) {

    .headerContainer {
        padding:2rem;
    }
    
  }

  /* --------------- HERO STYLE -------------- */

  .heroContainer {
    padding:0px!important;
    .BeSeenBeHeard img{
        display:block;
        margin:auto;
    }

    .heroCopyContainerBg {
        background-image: url("../images/heroImageFiller-m.jpg");
        padding:2rem;
    }
    .heroCopyContainer {
        XXposition: absolute;
        .heroCopyBlack {
            background-color: #000000;
            .heroCopyBlackLeft {
                text-align: right;
                padding:0rem 1rem;
            }
            .heroCopyBlackRight {
                text-align: left;
                padding:0rem 0rem;
            }
        }
        h1 {
            color: #ffffff;
            line-height: 80px;
            margin:0px;
        }
        h2 {
            padding-top:5px;
            color: #000000;
            padding:0.5rem 1rem 0rem 1rem;
            margin:0px;
            text-align: center;
            line-height: 48px;
        }
    }

    .heroSubCopyContainer {
        padding:0rem 1.5rem;
        background-color: #000000;
        h3 {
            color: #ffffff;
            padding: 1.5rem 0rem 0rem 0rem;
            margin:0px;
            text-align: center;
            line-height: 44px;
        }
        p {
            color: #ffffff;
            padding:1rem 5rem 1.5rem 5rem;
            margin:0px;
            text-align: center;
        }
    }
}

@media (max-width: $breakpoint-tablet) {

    .heroCopyContainer {
        .heroCopyBlack {
            .heroCopyBlackLeft {
                text-align: center!important;
            }
            .heroCopyBlackRight {
                text-align: center!important;;
            }
        }
    }

}

@media (max-width: $breakpoint-mobile) {

    .heroContainer {
        .removeDivCenterStyle {
            display: inline-block!important;
        }
        .pad-top-2rem-mob {
            padding-top:1.5rem;
        }
        padding-left:0px!important;
        padding-right:0px!important;
        .heroCopyContainer {
            XXposition: absolute;
            padding: 0rem 0rem;
            .pad-top-05rem-mob {
                padding-top:0.5rem;
            }
            h2 {
                text-align: left;
                padding:0.5rem 0rem 0rem 0rem;
                font-size:4rem;
                line-height:60px;
            }
            .blackLeft{
                width:23rem;
            }
            .blackRight{
                width:25rem;
            }
            .heroCopyBlack {
                h1 {
                    font-size:5rem;
                }
                .heroCopyBlackLeft {
                    text-align: left!important;
                    padding:0rem 0.5rem;
                }
                .heroCopyBlackRight {
                    text-align: left!important;
                    padding:0rem 0.5rem;
                }
            }
        }
        .heroButton {
            padding:0.5rem 1.5rem;
            font-size:1.5rem;
            float:left;
        }
        .heroSubCopyContainer {
            padding:1rem 2rem 2rem 2rem!important;
            h3{
                font-size:3.2rem;
                text-align: left;
                line-height: 50px;
            }
            p{
                padding:1.5rem 0 0.5rem 0;
                text-align: left;
                font-size:1.5rem;
                line-height: 35px;
            }
        }
    }

}

@media (max-width: $breakpoint-smallMobile) {
    .heroContainer{
        .heroCopyContainerBg{
            padding:1.5rem 1rem 1.5rem 1.5rem;
        }
        .heroCopyContainer {
            .blackLeft{
                width:16.5rem;
            }
            .blackRight {
                width:18rem;
            }
            .heroCopyBlack  {
                h1{
                    font-size: 3.4rem;
                }
            }
            h2 {
                font-size: 2.6rem;
                line-height: 50px;
            }
        }
        .heroButton {
            padding: 0.5rem 1.5rem;
            font-size: 1rem;
            float: left;
        }
    }

    p {
        font-size: 2rem!important;
        line-height: 40px!important;
    }

    h3 {
        font-size: 2rem!important;
        line-height: 40px!important;
    }
    h4 {
        font-size: 2rem!important;
        line-height: 40px!important;
    }
    p {
        font-size:1rem!important;
        line-height: 20px!important;
    }

    .pinkBoxContainer{
        .mainPinkBox {
            height:auto!important;
            font-size: 1.2rem!important;
            padding: 3rem 2rem!important;
        }
    }

    .ctaBoxCont{
        .pinkButton{
            padding: 0.5rem 1rem!important;
            font-size: 1rem!important;
        }
        .downloadButtonPadding {
            padding: 1rem 20px !important;
        }
    } 

    .introContainer{
        .ctaBoxCont{
            .downloadButtonPadding {
                padding: 0.5rem 19px!important;
            }
        } 

    }

    .statsContainer{
        h1{
            font-size:4rem!important;
        }
        .mainCopyBlack{
            .thirdStat {
                width: 100%!important;
            }
        }
    }
}

 /* --------------- MAIN STYLE -------------- */

 .introContainer {
     .introCopy, h3{
         padding: 0rem 2rem 0rem 2rem;
     }  
     .yellowBoxCont {
         position: relative;
         background-image: url("../images/introImage1.jpg");
         .yellowCopyContainer {
            XXposition: absolute;
            padding: 3rem;
            .yellowCopyYellowBox {
                background-color: #d6ce4b;
                padding: 3rem 4rem;
                p {
                    text-align: center;
                }
            }
           
         }
     }
    
 }

.youngPeopleCont {
    h3 {
        padding-top: 0px;
        margin-top: 0px;
    }
}

.introImage2Cont{
    padding-left:7rem!important;
    .introImage2 {
        float:left;
    }
}

.pinkBoxContainer{
    padding:2rem;
    .mainPinkBox{
        background-color: #ebbede;
        padding:3rem 1.5rem 0rem 2rem;
        height:12.5rem;
        font-size:1.4rem;
        margin-top:20px;
    }
    h3{
        padding:2rem 0rem 1rem 0rem;
    }
}

.statsContainer {
    h4 {
        padding-left:6rem;
    }
    .mainCopyBlack {
        .firstStat, .secondStat {
            background-color: #000000;
            color:#ffffff;
            text-align: center;
            width: 14rem;
            position: relative;
            margin: 0 auto;
        }

        .thirdStat {
            background-color: #000000;
            color:#ffffff;
            text-align: center;
            width: 20rem;
            position: relative;
            margin: 0 auto;
        }
        p {
            margin-top:1rem;
            text-align: center;
            font-size:1.4rem;
            font-weight: bold;
        }
    }
}

.introContainer {
    .introCopy, h3{
        padding: 0rem 1.5rem 0rem 2rem;
    }  
    .ctaBoxCont {
        position: relative;
        background-image: url("../images/introImage5.jpg");
        padding:4rem;
        a {
            border-radius: 0;
        }
        .ctaCopyContainer {
           XXposition: absolute;
        //    padding-top: 3rem;
           .ctaCopyWhiteBox {
               background-color: #ffffff;
               padding: 2rem 2.25rem;
               p {
                   text-align: center;
                   padding-top:0px;
                   margin-top:0px;
               }
           }
          
        }
        .downloadButtonPadding {
            padding: 6px 19px;
        }
    }
   
}

.keyFindingsSection {
    padding:2rem 2rem 0rem 2rem;
    h5 {
        font-size:1.4rem;
        font-weight: bold;
        margin-bottom:0px;
    }
    a {
        color: #000000;
    }
}

@media (max-width: $breakpoint-desktopFixStats) {
    .introContainer {
        padding: 1rem 0rem 0rem 0rem;
    }
    .statsContainer {

        .mainCopyBlack {
            p{
                font-size:1.2rem;
            }
        }
        
    }
}
@media (max-width: $breakpoint-tablet) {
    .statsContainer {

        .mainCopyBlack {
            p{
                font-size:1.6rem;
                padding-bottom:1rem;;
            }
        }
        
    }
}


@media (max-width: $breakpoint-mobile) {

    .introContainer {
        padding: 0rem 0rem 0rem 0rem;
        .introCopy, h3 {
            padding: 0rem 0rem 0.5rem 0rem;
        }
        .yellowBoxCont {
            background-image: url("../images/introImage1-m.jpg");
            padding:3rem 0rem;
            .yellowCopyContainer {
                XXposition: absolute;
                padding: 4rem 0rem 0rem 0rem;
                padding-top: 0rem;
                width: 82%;
                .yellowCopyYellowBox {
                    padding: 1.2rem 1.4rem;
                    p{
                        font-size:1.5rem;
                        line-height: 35px;
                        margin:1rem;
                    }
                }
            }
        }
    }

    .introContainerMobile1 {
        padding:1rem 2rem 1rem 2rem!important;
        h3{
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        p{
            padding:1.5rem 0 0.5rem 0;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
        
    }

    .introContainerMobile2 {
        padding:1rem 0rem 1rem 0rem!important;
        h3{
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        p{
            padding:1.5rem 0 0.5rem 0;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
        
    }

    .youngPeopleCont {
        padding: 3.5rem 1.5rem 1rem 1.5rem;
        h3{
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        p{
            padding:1.5rem 0 0.5rem 0;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
    }

    .advoContainer {
        
        h3{
            padding: 0.5rem 1.5rem 1rem 1.5rem;
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        p{
            padding: 0.5rem 1.5rem 0rem 1.5rem!important;
            margin-top:0px;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
    }

    .pinkBoxContainer {
        padding: 0.5rem 1.5rem 1rem 1.5rem;
        h3{
            
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        .mainPinkBox {
            font-size:1.7rem;
            padding: 4rem 2rem;
        }
    }

    .globalYouthContainer {

        h3{
            padding: 0.5rem 1.5rem 1rem 1.5rem;
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        p{
            padding: 0.5rem 1.5rem 0rem 1.5rem!important;
            margin-top:0px;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
    }

    .statsContainer {
        h4{
            padding: 0.5rem 1.5rem 3rem 1.5rem;
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        .mainCopyBlack {
            .thirdStat {
                width: 20rem!important;
            }
            p{
                padding: 0rem 1.5rem 0rem 1.5rem!important;
                font-size:2rem;
                line-height: 35px;
            }
            
        }
    }

    .ctaBoxCont {
        padding:4rem 0rem!important;
        background-image: url("../images/introImage5-m.jpg");
        .ctaCopyContainer {
            padding:0rem 2rem;
        }
        .ctaCopyWhiteBox {
            padding: 1.5rem 0rem 2.5rem 0rem !important;
        }
        p{
            padding: 0.5rem 1.5rem 0rem 1.5rem!important;
            font-size:1.5rem;
            line-height: 35px;
        }
        .pinkButton {
            padding:0.5rem 1.5rem;
            font-size:1.5rem;
            float:left;
        }
        .downloadButtonPadding {
            margin-top:0.25rem;
            padding: 6px 28px!important;
        }
    }

    .keyFindingsSection {
        padding: 0.5rem 1.5rem 0rem 1.5rem;
        h4{
            padding: 0.5rem 0rem 0rem 0rem;
            font-size:3.2rem;
            text-align: left;
            line-height: 50px;
        }
        h5{
            padding: 0rem 0rem 0rem 0rem;
            font-size:2.3rem;
            text-align: left;
            line-height: 45px;
        }
        p{
            margin-top:0.5rem;
            padding: 0.5rem 0rem 1rem 0rem!important;
            text-align: left;
            font-size:1.5rem;
            line-height: 35px;
        }
    }

}

 /* --------------- FOOTER STYLE -------------- */

.footerContainer {
    background-color:#000000;
    padding:1rem 0rem 2rem 0rem;
    p, a{
        color:#ffffff;
        line-height: 10px;
    }
    .termsCopy {
        p{
            font-size: 0.7rem;
            text-align: center;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .footerContainer {
        
        p{
            font-size:0.9rem;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .footerContainer {
        padding: 0.5rem 1.5rem 2rem 1.5rem;
        p{
            font-size:1.5rem;
            line-height: 25px;
        }
        .termsCopy {
            p {
                font-size: 1.1rem;
                text-align: center;
            }
            
        }
    }
}

